.cart-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555;
  max-width: 1400px;
  gap: 20px;
  padding-bottom: 10px;
  div {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    a {
      color: #0066cc;
      text-decoration: none;
      margin: 0;
      font-size: clamp(0.8rem, 3vw, 1rem);
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin: 0;
      font-size: clamp(0.8rem, 3vw, 1rem);
    }
    h1 {
      font-size: clamp(1.5rem, 4vw, 2.8rem);
      color: #222;
    }
  }
}

@media (max-width: 801px) {
  .cart-header {
    width: 90%;
  }
}
