.cart-summary {
  margin: 0;
  h2 {
    padding-top: 20px;
    font-size: clamp(1.2rem, 4vw, 1.8rem);
    font-weight: normal;
    margin-bottom: 15px;
  }
  &-total {
    background-color: #fff;
    padding-inline: 10px;
    border-radius: 2px;
    padding-block: 15px;
    div {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      p {
        margin: 0;
      }
    }
    &-order {
      display: flex;
      flex-direction: column;
      border-top: 1px solid rgb(202, 202, 202);
      padding-top: 20px;
      div {
        display: flex;
        justify-content: space-between;
        margin: 0;
        h3 {
          margin: 0;
        }
      }
      button {
        background: linear-gradient(
          180deg,
          #fc5d37 0%,
          #ed5132 49%,
          #e64525 100%
        );
        border: none;
        cursor: pointer;
        border-radius: 4px;
        color: #fff;
        margin-top: 20px;
        font-size: clamp(1rem, 4vw, 1.3rem);
        width: calc(100% - 14px);
        text-transform: none;
        font-weight: 700;
        padding: 10px 15px;
      }
    }
  }
  &-paypal {
    background-color: #fff;
    padding-inline: 10px;
    border-radius: 2px;
    padding-block: 15px;
    margin-top: 10px;
    button {
      width: calc(100% - 14px);
      background-color: #ffc439;
      border: none;
      padding-block: 10px;
      cursor: pointer;
      border-radius: 4px;
      margin-inline: 7px;
      p {
        font-weight: bold;
        font-size: clamp(1rem, 4vw, 1.3rem);
        color: rgb(31, 5, 104);
        font-style: italic;
        span {
          color: #25bfe6;
        }
      }
    }
  }
  &-edge {
    background-color: #fff;
    padding-inline: 10px;
    border-radius: 2px;
    padding-block: 15px;
    margin-top: 10px;
    p {
      color: #222;
      text-align: center;
      span {
        font-weight: bold;
      }
    }
    button {
      margin-top: 15px;
      background-color: #0060bf;
      color: #fff;
      border-radius: 4px;
      border: none;
      width: calc(100% - 30px);
      margin-inline: 15px;
      padding: 8px 5px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  &-help {
    background-color: #fff;
    padding-inline: 10px;
    border-radius: 2px;
    padding-block: 15px;
    margin-top: 10px;
    div {
      padding-block: 15px;
      border-top: 1px solid rgb(194, 194, 194);
      h3 {
        color: #222;
        font-size: 1rem;
      }
      p {
        color: #555;
        margin-top: 6px;
        font-size: 0.9rem;
        a {
          text-decoration: none;
          color: #0060bf;
        }
      }
    }
  }
}
