.international-shipping {
  &-countries {
    color: #222 !important;
    font-size: 0.95rem;
    font-weight: normal;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    color: #06c;
    font-size: 0.95rem;
    font-weight: normal;
    margin-block: 20px;
  }
  p {
    color: #555;
    margin-bottom: 30px;
    font-size: 0.9rem;
  }
  a {
    color: #06c;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  select {
    &:focus {
      outline: 2px solid #3498db;
    }
  }
}

@media (max-width: 801px) {
  .international-shipping {
    max-width: 85%;
    margin: 0 auto;
  }
}
