.product-list-item {
  background-color: #fff;
  padding: 30px 15px;
  margin-top: 30px;
  position: relative;
  div {
    &:nth-of-type(4) {
      position: absolute;
      font-weight: bold;
      top: 10px;
      right: -11px;
      color: #fff;
      background-color: rgb(226, 95, 19);
      padding: 1px 10px;
      border-radius: 5px;
    }
  }
  &-img-container {
    width: 200px;
    height: 200px;
    img {
      width: 200px;
    }
  }
  &-info-container {
    display: flex;
    flex-direction: column;
    a {
      color: #06c;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      &:last-of-type {
        color: #108533;
      }
    }
  }
  &-price-container {
    display: flex;
    flex-direction: column;
    em {
      font-size: 0.8rem;
      font-weight: 300;
    }
    strong {
      font-size: 1.8rem;
    }

    button {
      background: linear-gradient(
        180deg,
        #fc5d37 0%,
        #ed5132 49%,
        #e64525 100%
      );
      border: none;
      border-radius: 4px;
      color: #fff;
      font-size: 1.1rem;
      font-weight: bold;
      padding: 10px 30px;
      margin-top: 20px;
      cursor: pointer;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

@media (max-width: 1050px) {
  .product-list-item {
    &-img-container {
      width: 150px;
      height: 150px;
      img {
        width: 150px;
      }
    }
    &-price-container {
      button {
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 30px;
      }
    }
  }
}

@media (max-width: 635px) {
  .product-list-item {
    &-img-container {
      width: 100px;
      height: 100px;
      img {
        width: 100px;
      }
    }
    &-info-container {
      a {
        font-size: 0.9rem;
      }
    }
    &-price-container {
      strong {
        font-size: 1.2rem;
      }
      button {
        font-size: 0.8rem;
        font-weight: bold;
        padding: 5px 15px;
      }
    }
  }
}
@media (max-width: 460px) {
  .product-list-item {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
