/* .product-list-item {
  display: flex;
  grid-template-columns: repeat(3, 1fr); !!!!!!!!!
  flex-wrap: wrap;
  background-color: #fff;
  padding: 30px 15px;
  margin-top: 30px;
  &-img-container {
    width: 200px;
    height: 200px;
    img {
      width: inherit;
    }
  }
  &-info-container {
    display: flex;
    flex-direction: column;
  }
  &-price-container {
    display: flex;
    flex-direction: column;
  }
}   */

.product-list-item {
  /* display: flex;
  flex-wrap: wrap; */
  /*  display: grid;
  grid-template-columns: 40% 30% 30%; */
  /* flex-wrap: wrap; */
  background-color: #fff;
  padding: 30px 15px;
  margin-top: 30px;
  &-img-container {
    width: 200px;
    height: 200px;
    img {
      width: 200px;
      height: 200px;
    }
  }
  &-info-container {
    display: flex;
    flex-direction: column;
    a {
      color: #06c;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    span {
      &:last-of-type {
        color: #108533;
      }
    }
  }
  &-price-container {
    display: flex;
    flex-direction: column;
    em {
      font-size: 0.8rem;
      font-weight: 300;
    }
    strong {
      font-size: 1.8rem;
    }

    button {
      background: linear-gradient(
        180deg,
        #fc5d37 0%,
        #ed5132 49%,
        #e64525 100%
      );
      border: none;
      border-radius: 4px;
      color: #fff;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 10px 40px;
      margin-top: 20px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1050px) {
  .product-list-item {
    &-img-container {
      width: 150px;
      height: 150px;
      img {
        width: 150px;
        height: 150px;
      }
    }
    &-price-container {
      button {
        font-size: 1rem;
        font-weight: bold;
        padding: 10px 30px;
      }
    }
  }
}

@media (max-width: 635px) {
  .product-list-item {
    &-img-container {
      width: 100px;
      height: 100px;
      img {
        width: 100px;
        height: 100px;
      }
    }
    &-info-container {
      a {
        font-size: 0.9rem;
      }
    }
    &-price-container {
      strong {
        font-size: 1.2rem;
      }
      button {
        font-size: 0.8rem;
        font-weight: bold;
        padding: 5px 15px;
      }
    }
  }
}
