div {
  //неизвестно откуда взявшийся разделитель
  width: 100%;
  .products-filter {
    section {
      border-bottom: 1px solid #000;
      padding: 10px 0;
      div {
        color: red;
      }
    }
  }
}

.none {
  display: none;
}
