/* div {
  //неизвестно откуда взявшийся разделитель
  width: 100%; */
.products-filter {
  section {
    border-bottom: 1px solid #000;
    padding: 10px 0;
    p {
      font-size: 1.5rem;
      cursor: pointer;
    }
    div {
      padding-left: 20px;

      ul {
        padding-top: 10px;
        li {
          list-style-type: none;
          line-height: 1.4rem;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: blue;
          }
        }
      }
    }
  }
}
/* } */

.clear-all {
  margin-top: 30px;
  height: 36px;
  width: 100%;
  font-size: 1rem;
  background-color: #0060bf;
  text-transform: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  border: none;
  color: #fff;
  &:active {
    transform: scale(0.9);
  }
}
.none {
  display: none;
}
