.products-sort {
  display: grid;
  grid-template-columns: 75% 15% 10%;
  background-color: rgb(235, 231, 231);
  padding: 20px;
  align-items: center;
  &-select {
    justify-self: start;
    label {
      margin-right: 10px;
      color: #585c5f;
    }
    select {
      border-radius: 5px;
      padding: 7px 5px;
      font-size: 1rem;
    }
  }

  &-quantity {
    padding-right: 10px;
  }

  &-view {
    i {
      border: 1px solid black;
      padding: 5px;
      border-radius: 5px;
      margin-right: 5px;
      font-size: 1.5rem;
    }
  }
}
