.help-letUs {
  h2 {
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
  }
  &-quick {
    display: flex;
    flex-direction: row;
    div {
      ul {
        h2 {
          border-bottom: none;
          font-size: 0.9rem;
        }
        li {
          &::marker {
            color: #06c;
            font-size: 10px;
          }
          a {
            text-decoration: none;
            color: #06c;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
