.popular-categories {
  max-width: 1400px;
  margin-top: 20px;
  h2 {
    margin-bottom: 20px;
  }
  .cat-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3em;
    .cat-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      cursor: pointer;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      span {
        margin-top: 5px;
      }
    }
  }
}
