.deals {
  margin-top: 30px;
  max-width: 1400px;
  a {
    text-decoration: none;
    color: #000;
    h2 {
      margin-bottom: 20px;
      cursor: pointer;
    }
  }
  .deals-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .deals-container {
      width: 200px;
      height: 300px;
      cursor: pointer;
      background-color: #fff;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 190px;
      }
      span {
        font-size: 0.9rem;
        text-align: center;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .deals {
    width: 90%;
  }
}
