.help {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  max-width: 1400px;
  margin: 0 auto;
}

.help-track {
  display: grid;
  grid-template-columns: 25% 75%;
  max-width: 1400px;
  margin: 0 auto;
}
