.help {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  gap: 10px;
  max-width: 1400px;
  margin: 0 auto;
}

.help-track {
  display: grid;
  grid-template-columns: 25% 75%;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 801px) {
  .help {
    grid-template-columns: repeat(1, 1fr);
  }
  .help-track {
    grid-template-columns: repeat(1, 1fr);
  }
}
