.login-register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &-card {
    height: 580px;
    width: 1024px;
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 16px 24px #00000080;
  }
}

@media (max-width: 801px) {
  .login-register {
    align-items: flex-start;
    &-card {
      display: flex;
      flex-direction: column;
      box-shadow: none;
    }
  }
}
