.products {
  margin-top: 50px;
  width: calc(min(80vw, 1400px));
  h1 {
    margin-bottom: 50px;
  }
  &-page {
    display: grid;
    gap: 70px;
    grid-template-columns: 25% 75%;
    &-filter {
      background-color: #fff;
      padding: 30px;
      border-radius: 5px;
      height: fit-content;
    }
    &-list {
    }
  }
}
