.modal-overlay {
  z-index: 9999;
  background-color: #fff;
  position: fixed;
  max-width: 500px;
  padding: 40px;
  border-radius: 10px;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  i {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 1.2rem;
    transition: color 0.1s ease-in;
    &:hover {
      color: rgb(165, 23, 23);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  h2 {
    text-align: center;
    color: #222;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
  }
  p {
    margin-top: 20px;
    text-align: center;
    line-height: 1.4;
    color: #555;
  }
  div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    form {
      width: 90%;
      input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #222;
        padding: 10px 0px 10px 15px;
        &:focus {
          outline: none;
        }
      }
      span {
        display: block;
        background-color: #d83220;
        width: 100%;
        color: #fff;
        padding: 5px 0px 5px 10px;
        font-size: 0.8rem;
        font-weight: bold;
      }
      button {
        width: 100%;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        background-color: #0060bf;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        font-size: 1.2rem;
        padding-block: 12px;
        background-image: linear-gradient(
          to bottom,
          hsla(0, 0%, 100%, 0.12) 0%,
          hsla(0, 0%, 100%, 0) 100%
        );
        &:hover {
          box-shadow: 0 1px 4px #0000000d;
          background-image: linear-gradient(
            to bottom,
            hsla(0, 0%, 100%, 0.2) 0%,
            hsla(0, 0%, 100%, 0.1) 100%
          );
        }
      }
    }
  }
}

@media (max-width: 570px) {
  .modal-overlay {
    width: 90%;
    height: 90%;
  }
}
