.login-field,
.register-field {
  padding: 10%;
  margin: 0;
  h2 {
    font-size: clamp(1.5rem, 4vw, 2.3rem);
    margin-bottom: 30px;
    text-align: center;
  }
  form {
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      label {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      input {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        max-width: 100%;
        font-size: 1.2rem;
      }
    }
    button {
      display: flex;
      justify-content: center;
      background: linear-gradient(
        180deg,
        #fc5d37 0%,
        #ed5132 49%,
        #e64525 100%
      );
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-weight: bold;
      font-size: clamp(1rem, 4vw, 1.2rem);
      max-width: 100%;
      cursor: pointer;
    }
  }
}
.register-field {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  form {
    div {
      input {
        max-width: 100%;
      }
    }
    button {
      max-width: 100%;
    }
  }
}

@media (max-width: 801px) {
  .login-field {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .register-field {
    width: 100%;
    margin-top: 20px;
  }
}
