.header {
  /*  display: grid;
  grid-template-columns: 15% 30% 35% 18%;
  gap: 0.5rem; */
  display: flex;
  gap: 1rem;
  height: 70px;
  margin: 0 auto;
  max-width: 1400px;
  a {
    outline: none;
    .logo-container {
      width: 175px;
      height: 60px;
      margin-left: 0.6rem;
      img {
        width: inherit;
        height: inherit;
        margin-top: 4px;
      }
    }
  }
  .products-show {
    height: 100%;
    padding-top: calc(70px / 3);
    &:hover > .products-details-nav {
      opacity: 1;
      visibility: visible;
    }
  }

  .brand-show {
    height: 100%;
    padding-top: calc(70px / 3);
    &:hover > .brands-details-nav {
      opacity: 1;
      visibility: visible;
    }
  }

  nav {
    height: 100%;
    align-self: center;
    ul {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      li {
        align-self: center;
        position: relative;
        list-style-type: none;
        justify-self: center;
        color: #000;
        font-size: 1.2rem;
        margin-right: 0.7rem;
        cursor: pointer;
        transition: all 1s ease-in-out;
        &:hover {
          text-decoration: underline;
        }
        a {
          text-decoration: none;
          color: #000;
        }
        .products-details-nav {
          opacity: 0;
          visibility: hidden;
          z-index: 9;
          display: flex;
          position: absolute;
          background-color: #fff;
          padding: 1rem;
          top: 70px;
          width: fit-content;
          &-categories {
            padding-right: 1rem;
            width: 10rem;
            border-right: 1px solid #a39a99;
            div {
              margin-bottom: 1rem;
              font-size: 1.2rem;
              padding: 7px 5px;
              transition: color 0.2s ease-in;
              &:hover {
                background-color: blue;
                color: #fff;
              }
              a {
                text-decoration: none;
                color: #000;
              }
            }
          }
          &-types {
            width: 240px;
            margin-left: 1rem;
            a {
              text-decoration: none;
              li {
                font-weight: bold;
                font-size: 1rem;
                margin-bottom: 1rem;
              }
            }
          }
        }
      }
    }
  }

  .brands-details-nav {
    opacity: 0;
    width: fit-content;
    visibility: hidden;
    position: absolute;
    top: 70px;
    z-index: 9;
    background-color: #fff;
    padding: 50px 50px 0px 20px;
    h2 {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    &-items {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      div {
        width: 90px;
        img {
          width: inherit;
        }
      }
    }
  }

  .search-container {
    align-self: center;
    justify-self: self-start;
    width: 100%;
    position: relative;
    input {
      width: 100%;
      padding: 7px 0;
      border-radius: 10px;
      border: none;
      padding-left: 1.5rem;
    }
    button {
      background: none;
      border: none;
      position: absolute;
      right: 15px;
      top: 6px;
      cursor: pointer;
    }
  }

  .auth-cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 1.5rem;
    a {
      height: 100%;
      text-decoration: none;
      color: #000;
      .auth-container {
        display: flex;
        gap: 10px;
        height: 100%;
        padding: 0 10px;
        &:hover > .account-options-container {
          opacity: 1;
          visibility: visible;
        }
        &:hover {
          background-color: #fff;
        }
        i {
          align-self: center;
          font-size: 1.5rem;
        }
        div {
          align-self: center;
          span {
            font-size: 0.7rem;
            cursor: pointer;
          }
          p {
            font-size: 0.9rem;
            font-weight: bold;
            cursor: pointer;
          }
        }
        .account-options-container {
          opacity: 0;
          visibility: hidden;
          padding: 22px 33px 22px 17px;
          position: absolute;
          z-index: 9;
          background-color: #fff;
          top: 70px;
          left: 0;
          ul {
            list-style-type: none;
            li {
              margin-bottom: 0.5rem;
              font-size: 0.9rem;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .cart-container {
      position: relative;
      font-size: 1.3rem;
      cursor: pointer;
      margin-right: 10px;
      span {
        position: absolute;
        right: -4px;
        display: block;
        width: 10px;
        height: 10px;
        background-color: #ed5132;
        border: 1px solid #ffffffbe;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 1160px) {
  .header {
    a {
      .logo-container {
        align-self: center;
        width: 150px;
        height: 50px;
        margin-left: 0.6rem;
        img {
          width: inherit;
          height: inherit;
          margin-top: 7px;
        }
      }
    }
  }
}

@media (max-width: 801px) {
  .header {
    display: grid;
    grid-template-columns: 65px 1fr 34%;
    grid-template-rows: 1fr auto;
    padding-right: 0;
    margin-bottom: 10px;
    align-items: center;
    height: auto;
    a {
      margin: 0;
      .logo-container {
        display: flex;
        align-items: center;
        img {
          width: 100px;
          height: 40px;
          margin: 0;
        }
      }
    }
    .search-container {
      grid-column: 1/4;
      grid-row: 2/3;
      padding-inline: 30px;
      input {
        border: 1px solid rgb(204, 204, 204);
      }
      button {
        right: 43px;
        top: 8px;
      }
    }
    .auth-cart-container {
      a {
        .auth-container {
          padding: 0;
          &:hover {
            background-color: #f3f3f3;
          }
        }
      }
    }
  }
}
@media (max-width: 599px) {
  .header {
    grid-template-columns: 50px 1fr 18%;
    .auth-cart-container {
      gap: 0.3rem;
      a {
        .auth-container {
          i {
            align-self: center;
            font-size: 1rem;
          }
        }
      }
      .cart-container {
        font-size: 1rem;
      }
    }
  }
}
