.history {
  &-img {
    background: url(https://i.ibb.co/7bTTtK7/first-adorama-store-34th-street-bw.jpg)
      center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
  }
  h1 {
    text-align: center;
    font-size: clamp(3.5rem, 5vw, 6rem);
    font-weight: 400;
    margin-top: 50px;
  }
  h2 {
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-weight: 400;
  }
  &-nav {
    max-width: 1400px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    &-item {
      color: #ababab;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
      cursor: pointer;
      strong {
        font-size: clamp(1.5rem, 3vw, 5rem);
        margin-bottom: 10px;
      }
      span {
        font-size: clamp(0.9rem, 1.5vw, 2rem);
        text-align: center;
      }
    }
  }
  hr {
    max-width: 1400px;
    margin-top: -2px;
    margin-bottom: 50px;
  }
  &-part {
    max-width: 800px;
    transition: opacity 0.2s ease-out;
    &-containers {
      margin-bottom: 100px;
      h2 {
        text-align: left;
        font-size: clamp(1.9rem, 5vw, 3.5rem);
        margin-bottom: 20px;
      }
      img {
        margin-block: 20px;
        max-width: 100%;
      }
      p {
        color: #585c5f;
        font-size: clamp(1rem, 1.4vw, 2rem);
        margin-bottom: 10px;
        a {
          color: #06c;
          cursor: pointer;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &-years {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        strong {
          cursor: pointer;
          color: #06c;
          margin: 0;
          font-size: clamp(1.2rem, 1.6vw, 2.2rem);
        }
      }
    }
  }
}

.hide {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

@media (max-width: 801px) {
  .history {
    &-part {
      width: 80%;
      &::before {
        content: "";
        position: absolute;
        transform: translateX(-5vw);
        width: 1px;
        background-color: #222;
        top: 770px;
      }
      &-containers {
        h2 {
          &::before {
            content: "";
            position: absolute;
            transform: translate(-5vw, 22px);
            height: 1px;
            width: clamp(10px, 5vw, 24px);
            background-color: #222;
          }
        }
      }
    }

    #history-part-one {
      &::before {
        height: 562px;
      }
    }
    #history-part-two {
      &::before {
        height: 1478px;
      }
    }
    #history-part-three {
      &::before {
        height: 1078px;
      }
    }
    #history-part-four {
      &::before {
        height: 500px;
      }
    }
    #history-part-five {
      &::before {
        height: 3750px;
      }
    }
    #history-part-six {
      &::before {
        height: 488px;
      }
    }
  }
}

@media (max-width: 540px) {
  .history {
    &-nav {
      overflow-x: scroll;
    }
  }
}
